@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: var(--font-poppins), system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #191a1c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 auto;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #4f4f4f;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: #666666;
}

/* Hide scrollbar arrows */
::-webkit-scrollbar-button {
  display: none;
}
